API_ID=24620300
API_HASH=9a098f01aa56c836f2e34aee4b7ef963
BOT_TOKEN=6915408680:AAGcxq-eVClT3x8Kd2aNlrS0m0sCjnXjDgw
LOGGER_ID=-1002023182491
MONGO_DB_URI=mongodb+srv://fidixi3663:w7rvlxmDd5lsX9ix@cluster0.0k1an50.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6915408680
STRING_SESSION=BQF3rQwACeq4VbYG8rcDxxmEJa5CYKD0Rwn6MhYQkbyr-ebhWyzDZACX0BbQ9nOAl_-jgLHZVldG4V2sXnwZkxl2vbACKXsag3i11c5Is1VCX_JMFzMJaXj_JJkSES7I94jeAh5dBgaCzxe5SJG9wb2cGt1DBfRf0Dp5FF78DpkPVIqKVFo1xrjKeGSNaBsBCcbHwUEk58MHPM6scBR1zkdpTgH1OHIczLJ_zAovhds9MjmxlkUlY9OgA0I0mZAHEcSZutejBppezpyhgj932RIszuTJzfDYb3WaN0hbGJVMsXU3oE-LZv5FvdhX8KQvWzGlQmQfYwg0wjIJE_vUI9Hx2mUQbwAAAAE1mGFGAA
STRING_SESSION2=BQF3rQwAUZgshjj1yV70_0nFA7Zg1S6-UnREjbbZden-39zBFrUMzBhYvFH3oEKeWBbRCmeGfZYwyvhhJ4yDgIyvuuNbFPf-HL8aRNI0gXg222Uwwui8y4UUPPzudHk0XEtbTYWwLyjGnvACdDq6L9eakWY1fmbQyVuqI-aQNzMSV_tG8DjHCeoVxU-UHzssg5cpwgux_YU1YVvBDeSXLvTMpVYK0IQkXfFJXwayVzL8bVGA4DWkTrMjnSXojeYeNc-78S8szAeTleukYtuQVgNJaxkceL3cdiYCLUfx_rpRKOWea8wHLiaJMn5r6M4dMfgAk-2cP5pLge46SuFe0A2IcEofrwAAAAGhjpphAA
STRING_SESSION3=BQF3rQwAHoNDkOSigDCKwLTkyCB-KJGa9imoFapd2Lf57oPjBzj02O9c1lZlXZbDTLgLy-sOKmfkSzyXv3saQLlGZKrG4gco8wPBZQoka-njc1sFslZZRTMtOtsg6JYypGmlZFr8TnEDj_uJv1dDIVJ-j2zJICU-ByQwpM5U0DcYssAZVU0WCNt6SVpGAYkFKDfvF3-0AF1jvY7qOr2ZqfpDGkLU3zGONs3MNtYSEsBcHYJBLkQ1fYA8SbIUKarD7Xjt4xs-zoFN_YCCcOK3mkRtMPO3WMXeTzQ96s4nhW_yCxjVAh41wSXDTmnpVmlBYXrF5RTTG1DVzu-0ejEKbXQkCEIC5AAAAAF6l3TOAA
